runtime = electron
target_arch = x64
brave_electron_version = 2.58.2
target = v2.58.2
chromedriver_version = 2.27
disturl = https://brave-laptop-binaries.s3.amazonaws.com/atom-shell/dist
node_abi = 51
